<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1551.v7320b_88b_d5e6">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2273.v643f36ed9e94"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2273.v643f36ed9e94">
      <jobProperties/>
      <triggers>
        <string>hudson.triggers.TimerTrigger</string>
      </triggers>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Pipeline para descargar código de GitHub, desplegar HolaMundo.java localmente y ejecutar cada 5 minutos</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>*/5 * * * *</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4209.v83c4e257f1e9">
    <script>          pipeline {
              agent any
              triggers {
                  cron(&apos;*/5 * * * *&apos;)
              }
              stages {
                  stage(&apos;Descargar código desde GitHub&apos;) {
                      steps {
                          git branch: &apos;main&apos;, url: &apos;https://github.com/JuanPerezRepo/HolaMundoApp.git&apos;
                      }
                  }
                  stage(&apos;Desplegar aplicación en Equipo Local&apos;) {
                      steps {
                          sh &apos;javac HolaMundo.java&apos;
                          sh &apos;java HolaMundo&apos;
                      }
                  }
              }
          }</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>